{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap.min.css' %}">


<div class="container">
    <h1 class="text-center">Polls Application</h1>
    <hr>
    <div class="col-md-5 bg-light border rounded m-4 p-4"> 
        <h2>{{ question.question_text }}</h2>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <input type="submit" class="btn btn-outline-success" value="Vote">
        </form>
    </div>
</div>